.xrboxselect {
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid var(--area2);
  background-color: var(--base1);
  &:hover {
    border-color: var(--area3);
  }
  &.disabled {
    border-color: var(--area2);
  }
  .item {
    cursor: pointer;
    padding: 5px 8px;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      background-color: var(--main1);
    }
    &.active {
      color: var(--main);
      background-color: var(--main2);
    }
    &.disabled {
      background-color: var(--area1);
      color: var(--font2);
      cursor: not-allowed;
      &.active {
        color: var(--main);
      }
    }
    &:only-child {
      width: 100%;
      &.active {
        background-color: transparent;
      }
    }
  }
}

.xrboxselect.horizontal {
  display: flex;
  width: fit-content;
}

.xrboxselect.vertical {
  display: block;
  width: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
