.xrcapsuleselect {
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--base1);
  .item {
    cursor: pointer;
    padding: 5px 8px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border: 1px solid var(--area2);
    &:hover {
      border: 1px solid var(--main4);
      background-color: var(--main1);
    }
    &.active {
      color: var(--main);
      border: 1px solid var(--main4);
      background-color: var(--main2);
    }
    &.disabled {
      color: var(--font2);
      border-color: var(--area2);
      background-color: var(--area1);
      cursor: not-allowed;
    }
    &:only-child {
      width: 100%;
      &.active {
        background-color: transparent;
      }
    }
  }
}

.xrcapsuleselect.horizontal {
  display: flex;
  width: fit-content;
  .item {
    border-right-width: 0;
    white-space: nowrap;
    &:last-child {
      border-right-width: 1px;
    }
    &:hover {
      border-width: 1px;
      + .item {
        border-left-width: 0;
      }
      &.disabled {
        border-right-width: 0;
        &:last-child {
          border-right-width: 1px;
        }
        + .item {
          border-left-width: 1px;
        }
      }
    }
    &.active {
      border-width: 1px;
      + .item {
        border-left-width: 0;
      }
    }
    &.disabled {
      border-color: var(--area2);
    }
  }
}

.xrcapsuleselect.vertical {
  display: block;
  width: 100%;
  .item {
    border-bottom-width: 0;
    &:last-child {
      border-bottom-width: 1px;
    }
    &:hover {
      border-width: 1px;
      + .item {
        border-top-width: 0;
      }
      &.disabled {
        border-bottom-width: 0;
        &:last-child {
          border-bottom-width: 1px;
        }
        + .item {
          border-top-width: 1px;
        }
      }
    }
    &.active {
      border-width: 1px;
      + .item {
        border-top-width: 0;
      }
    }
    &.disabled {
      border-color: var(--area2);
    }
  }
}
