$font-color: var(--font);
$hover-font-color: var(--font);
$active-font-color: var(--main);
$disabled-font-color: var(--font3);

$border-color: var(--alpha4);
$hover-border-color: var(--main2);
$active-border-color: var(--main2);
$disabled-border-color: var(--alpha4);

$background-color: var(--back2);
$hover-background-color: var(--main5);
$active-background-color: var(--main4);
$disabled-background-color: var(--beta5);
