.select {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 8px;
  cursor: pointer;
  border: 1px solid var(--alpha4);
  .block {
    &:not(:first-child) {
      margin-left: 7px;
    }
  }
  .label {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .labelText {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:active {
      outline: none;
    }
    &.placeholder {
      color: var(--font2);
    }
  }
  .icon {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--alpha4);
  }
  .clear {
    display: none;
    &:hover {
      color: var(--alpha2);
    }
  }
}

.select {
  &:hover, &.active {
    border-color: var(--main2);
    .arrow {
      display: none;
    }
    .clear {
      display: flex;
    }
  }
  &.active {
    background-color: var(--back2);
    box-shadow: 0 0 4px var(--main4);
  }
  &.disabled {
    border-color: var(--alpha4);
    background-color: var(--beta5);
    cursor: not-allowed;
  }
}

.options {
  width: 100%;
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  .option {
    padding: 5px 8px;
    cursor: pointer;
    &:hover {
      background-color: var(--beta5);
    }
    &.active {
      background-color: var(--main5);
    }
    &.disabled {
      background-color: transparent;
      color: var(--font2);
      cursor: not-allowed;
    }
  }
}
