.xrselectcontent {
  max-height: 300px;
  background-color: var(--base1);
  box-shadow: 0 0 4px var(--mask4);
}

.xrselect {
  width: 100%;
  height: 32px;
  padding: 0 8px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--base1);
  border: 1px solid var(--area2);
  -webkit-tap-highlight-color: transparent;
  .block {
    &:not(:first-child) {
      margin-left: 7px;
    }
  }
  .label {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .labeltext {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:active {
      outline: none;
    }
    &.placeholder {
      color: var(--font3);
    }
  }
  .icon {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font2);
  }
  .clear {
    display: none;
    &:hover {
      color: var(--main);
    }
  }
  &.allowclear {
    &:hover, &.active {
      .arrow {
        display: none;
      }
      .clear {
        display: flex;
      }
    }
  }
  &:hover {
    border-color: var(--area3);
  }
  &.active {
    border-color: var(--area3);
    box-shadow: 0 0 4px var(--mask4);
  }
  &.disabled {
    color: var(--font2);
    border-color: var(--area2);
    background-color: var(--area1);
    cursor: not-allowed;
  }
}
